<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>

<body>
    <% include ../public/header %>

<div class="container">


    <div class="all-page-bg">
        <div class="detail-breadCrumb">

            <ul class="breadcrumb">
                <li><a href="http://t20036.mbdemo.18inter.com/"><i class="fa fa-home"></i><span> 首页</span></a></li>
                <li><a href="/xydt/">新闻资讯</a></li>
                <li><a href="/xydt/">学院动态</a></li>
            </ul>

        </div>
        <% if (info) {%>
            <p class="text-center font-size-24 line-height-1-5 padding-bottom-10 padding-top-30"><%=info.title%></p>
            <div class="text-center">
                <span title="发布时间" class="margin-right-20">发布时间： 2022-09-06</span>
                <span title="点击数">点击数量：<span id="lb_clicks">0</span></span>
            </div>
    
            <div class="info-content padding-top-20 case-news" id="Content">
                <%=info.content %>
            </div>
    
            <div class="clearfix padding-top-20 padding-bottom-20 line-height-2 case-news">
                <ul>
                    <li>下一篇：<a href="/news/4504.cshtml">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a></li>
                </ul>
            </div>
        <% } else {%>
            <p>信息不存在</p>    
        <%} %>

    </div>
</div>

    <% include ../public/footer %>
</body>

</html>