<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <% include ../public/head %>
</head>

<body>
    <div id="app">
        <% include ../public/header %>
<section>
<div class="container">
    <div class="row padding-top-20">
        <div class="col-md-9 padding-0">
            <div class="col-md-6">
                <div class="news-banner">
                    <div class="hd">
                        <ul>
                            <li class=""></li>
                            <li class="on"></li>
                            <li class=""></li>
                            <li class=""></li>
                            <li class=""></li>
                        </ul>
                    </div>
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:487.5px">
                            <ul
                                style="width: 3412.5px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -975px;">
                                <li class="clone" style="float: left; width: 487.5px;">
                                    <a href="/news/1428.cshtml"><img src="/upload/images/2021/11/09/173141729.jpg"
                                            alt="今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表"></a>
                                    <h2><a href="/news/1428.cshtml">今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表</a></h2>
                                </li>
                                <li style="float: left; width: 487.5px;">
                                    <a href="/news/3450.cshtml"><img src="/upload/images/2022/12/06/11164162956.jpg"
                                            alt="通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！"></a>
                                    <h2><a href="/news/3450.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a></h2>
                                </li>
                                <li style="float: left; width: 487.5px;">
                                    <a href="/news/3449.cshtml"><img src="/upload/images/2022/12/05/11143172923.png"
                                            alt="20XX年某某新能源行业协会与主要某某部门、某某法规及政策"></a>
                                    <h2><a href="/news/3449.cshtml">20XX年某某新能源行业协会与主要某某部门、某某法规及政策</a></h2>
                                </li>
                                <li style="float: left; width: 487.5px;">
                                    <a href="/news/3448.cshtml"><img src="/upload/images/2022/12/05/11144172935.png"
                                            alt="通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！"></a>
                                    <h2><a href="/news/3448.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a></h2>
                                </li>
                                <li style="float: left; width: 487.5px;">
                                    <a href="/news/1429.cshtml"><img src="/upload/images/2022/12/05/11139172325.jpg"
                                            alt="20XX年某某新能源行业协会与主要某某部门、某某法规及政策"></a>
                                    <h2><a href="/news/1429.cshtml">20XX年某某新能源行业协会与主要某某部门、某某法规及政策</a></h2>
                                </li>
                                <li style="float: left; width: 487.5px;">
                                    <a href="/news/1428.cshtml"><img src="/upload/images/2021/11/09/173141729.jpg"
                                            alt="今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表"></a>
                                    <h2><a href="/news/1428.cshtml">今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表</a></h2>
                                </li>
                                <li class="clone" style="float: left; width: 487.5px;">
                                    <a href="/news/3450.cshtml"><img src="/upload/images/2022/12/06/11164162956.jpg"
                                            alt="通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！"></a>
                                    <h2><a href="/news/3450.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a></h2>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 index-padding-0">
                <ul class="index-box">
                    <li>
                        <div class="col-md-7 index-box-left">
                            <a href="/news/3450.cshtml"
                                class="card1 index-box-title">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a>
                            <div class="index-box-date">
                                2022-08-26
                            </div>
                            <a href="/news/3450.cshtml" class="index-box-bottom">
                                <p class="index-box-intro card2">XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校
                                    “校农结合”的“研”与“为”论坛XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</p>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a href="/news/3450.cshtml" class="index-box-img"><img
                                    src="/upload/images/2022/12/06/11164162956.jpg"></a>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-7 index-box-left">
                            <a href="/news/3449.cshtml" class="card1 index-box-title">20XX年某某新能源行业协会与主要某某部门、某某法规及政策</a>
                            <div class="index-box-date">
                                2022-08-26
                            </div>
                            <a href="/news/3449.cshtml" class="index-box-bottom">
                                <p class="index-box-intro card2">踔厉奋发勇毅前行
                                    奋力开创建设中国特色社会主义一流创新型大学新局面——校党委XX届XX次全体会议暨20XX年暑期领导干部学习读书班召开踔厉奋发勇毅前行
                                    奋力开创建设中国特色社会主义一流创新型大学新局面——校党委XX届XX次全体会议暨20XX年暑期领导干部学习读书班召开</p>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a href="/news/3449.cshtml" class="index-box-img"><img
                                    src="/upload/images/2022/12/05/11143172923.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-7 index-box-left">
                            <a href="/news/3448.cshtml"
                                class="card1 index-box-title">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a>
                            <div class="index-box-date">
                                2022-08-26
                            </div>
                            <a href="/news/3448.cshtml" class="index-box-bottom">
                                <p class="index-box-intro card2">
                                    院党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</p>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a href="/news/3448.cshtml" class="index-box-img"><img
                                    src="/upload/images/2022/12/05/11144172935.png"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="index-all-box index-one-box">
                <div class="index-one-title">
                    <div class="index-all-title">
                        通知公告
                        <b></b>
                    </div>
                </div>
                <div class="index-oneBox">
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                            aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
                            role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet"
                            tabindex="0" role="button" aria-label="Go to slide 3"></span><span
                            class="swiper-pagination-bullet" tabindex="0" role="button"
                            aria-label="Go to slide 4"></span></div>
                    <div class="swiper-container swiper-container-horizontal" id="swiperPartner">
                        <div class="swiper-wrapper imgae-same-size"
                            style="transition-duration: 0ms; transform: translate3d(-313px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                data-swiper-slide-index="3" style="width: 313px;">
                                <a href="/news/3452.cshtml">
                                    <p class="swiper-slideIntro">XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校
                                        “校农结合”的“研”与“为”论坛XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</p>
                                </a>
                            </div>
                            <!--BANNER循环-->
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0"
                                style="width: 313px;">
                                <a href="/news/3455.cshtml">
                                    <p class="swiper-slideIntro">
                                        我校主编《XXXXXX（板）应用技术规程》编制启动会暨编制组第一次工作会议召开我校主编《XXXXXX（板）应用技术规程》编制启动会暨编制组第一次工作会议召开
                                    </p>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1"
                                style="width: 313px;">
                                <a href="/news/3454.cshtml">
                                    <p class="swiper-slideIntro">
                                        我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</p>
                                </a>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" style="width: 313px;">
                                <a href="/news/3453.cshtml">
                                    <p class="swiper-slideIntro">
                                        院党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”
                                    </p>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="3"
                                style="width: 313px;">
                                <a href="/news/3452.cshtml">
                                    <p class="swiper-slideIntro">XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校
                                        “校农结合”的“研”与“为”论坛XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</p>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                data-swiper-slide-index="0" style="width: 313px;">
                                <a href="/news/3455.cshtml">
                                    <p class="swiper-slideIntro">
                                        我校主编《XXXXXX（板）应用技术规程》编制启动会暨编制组第一次工作会议召开我校主编《XXXXXX（板）应用技术规程》编制启动会暨编制组第一次工作会议召开
                                    </p>
                                </a>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>

                </div>
            </div>
            <div class="index-all-box index-two-box">
                <div class="index-all-title">
                    活动征集
                    <b></b>
                </div>
                <ul>
                    <li>
                        <a href="/news/1429.cshtml" class="card1 index-twobox-title">
                            <span>07/28</span> 20XX年某某新能源行业协会与主要某某部门、某某法规及政策
                        </a>
                    </li>
                    <li>
                        <a href="/news/1428.cshtml" class="card1 index-twobox-title">
                            <span>07/28</span> 今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表
                        </a>
                    </li>
                    <li>
                        <a href="/news/1427.cshtml" class="card1 index-twobox-title">
                            <span>07/28</span> 某某能源局主要负责人视频某某某某国能源高级别对话会
                        </a>
                    </li>
                    <li>
                        <a href="/news/1426.cshtml" class="card1 index-twobox-title">
                            <span>07/28</span> 通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-9 index-marBox">
            <ul class="index-subBox">
                <li><a href="/xxjjs/">协会简介</a></li>
                <li><a href="/xyzp/">人才招聘</a></li>
                <li><a href="/xkfj/">协会风景</a></li>
                <li><a href="/zjwm/">走进我们</a></li>
                <li><a href="">荣誉资质</a></li>
                <li><a href="/lxwms/">联系我们</a></li>
            </ul>
            <div class="sy_mk">
                <div id="marquee1" class="marqueelefts">
                    <div style="width:20000px;" class="images-list imgae-same-size" id="productList">
                        <ul id="marquee1_1">
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1419.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/180155412.jpg"
                                                data-bindresize="1" style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1417.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/182161034.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">某某能源局主要负责人视频某某某某国能源高级别对话会</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1386.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/10/20/138180033.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">某某能源局主要负责人某某20XX某某某某某某转型高层论坛</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1384.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2022/12/06/11145102312.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会章程等通过我校2020年教职工代表大会表决</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1418.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/181161012.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">省委统战部副部长、省侨办主任某某某到我院调研</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1416.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2022/12/06/11146102407.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会与相关单位负责人签订安全工作责任书</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1385.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/10/20/139180043.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会持续推进“十四五”规划编制工作</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <ul id="marquee1_2">
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1419.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/180155412.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1417.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/182161034.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">某某能源局主要负责人视频某某某某国能源高级别对话会</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1386.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/10/20/138180033.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">某某能源局主要负责人某某20XX某某某某某某转型高层论坛</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1384.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2022/12/06/11145102312.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会章程等通过我校2020年教职工代表大会表决</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1418.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/11/09/181161012.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">省委统战部副部长、省侨办主任某某某到我院调研</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1416.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2022/12/06/11146102407.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会与相关单位负责人签订安全工作责任书</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 breadth">
                                <div class="pic">
                                    <a href="/news/1385.cshtml" target="_blank">
                                        <div class="picImg"><img src="/upload/images/2021/10/20/139180043.jpg"
                                                style="width: 284px; height: 188.781px;"></div>
                                        <div class="picText">
                                            <p class="card1">协会持续推进“十四五”规划编制工作</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div><!--marqueeleft end-->
                    <script type="text/javascript">marqueeStart(1, "left");</script>
                </div>
            </div>
        </div>
        <div class="col-md-3 index-marBox">
            <div class="index-three-box">
                <div class="index-all-title">
                    下载专区
                    <b></b>
                    <a href="/xzzx/">更多&gt;&gt;</a>
                </div>
                <div><img src="/Templates/T20047/images/indexThree.jpg"></div>
                <ul>
                    <li>
                        <a href="/news/3456.cshtml"
                            class="card1"><span>08/26</span>通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a>
                    </li>
                    <li>
                        <a href="/news/1376.cshtml" class="card1"><span>07/07</span>20XX年某某新能源行业协会与主要某某部门、某某法规及政策</a>
                    </li>
                    <li>
                        <a href="/news/1378.cshtml"
                            class="card1"><span>06/16</span>今日某某调整信息：XX月25日，某某加油站柴油、XX、XX号汽油价格</a>
                    </li>
                    <li>
                        <a href="/news/1377.cshtml"
                            class="card1"><span>06/09</span>今日某某调整信息：XX月29日调整后，全国XX、XX汽油价格最新售价表</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

    <div class="container addindex-four-list">
        <div class="row">
            <div class="col-md-9 padding-0">
                <ul class="index-four-list imgae-same-size">
                    <li class="row">
                        <div class="col-md-2 item"><a href="/news/1363.cshtml"><img
                                    src="/upload/images/2022/12/06/11147102612.jpg" /></a></div>
                        <div class="col-md-10">
                            <p><a href="/news/1363.cshtml">某某能源局主要负责人某某20XX某某某某某某转型高层论坛</a></p>
                            <div class="date">2022-12-06</div>
                            <div class="Introduction"><a href="/news/1363.cshtml"
                                    class="card2">使用模板建站是大多数中小企业的选择，因为找网站建设公司单独开发设计动则数万元起步，而使用模板建设企业网站便宜的几需要几百元，贵的也不过几千元，所以使用模板建站成本优势非常明显。</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 item"><a href="/news/1420.cshtml"><img
                                    src="/upload/images/2022/12/06/11148115440.png" /></a></div>
                        <div class="col-md-10">
                            <p><a href="/news/1420.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a></p>
                            <div class="date">2020-07-28</div>
                            <div class="Introduction"><a href="/news/1420.cshtml"
                                    class="card2">使用模板建站是大多数中小企业的选择，因为找网站建设公司单独开发设计动则数万元起步，而使用模板建设企业网站便宜的几需要几百元，贵的也不过几千元，所以使用模板建站成本优势非常明显。</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 item"><a href="/news/1387.cshtml"><img
                                    src="/upload/images/2022/12/06/11149115502.png" /></a></div>
                        <div class="col-md-10">
                            <p><a href="/news/1387.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a></p>
                            <div class="date">2020-07-28</div>
                            <div class="Introduction"><a href="/news/1387.cshtml"
                                    class="card2">重写了上传功能，由之前的黑名单改为白名单方式，安全性更高，避免黑名单添加不全导致的安全问题。重写了上传功能，由之前的黑名单改为白名单方式，安全性更高，避免黑名单添加不全导致的安全问题。重写了上传功能，由之前的黑名单改为白名单方式，安全性更高，避免黑名单添加不全导致的安全问题。</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 item"><a href="/news/1375.cshtml"><img
                                    src="/upload/images/2022/12/05/11134103041.jpg" /></a></div>
                        <div class="col-md-10">
                            <p><a href="/news/1375.cshtml">【服务育人】公寓管理中心在国庆假日开展育人活动视频</a></p>
                            <div class="date">2020-06-23</div>
                            <div class="Introduction"><a href="/news/1375.cshtml" class="card2">XX院厅、XX院与我院联合主办
                                    “一带一路”背景下高院 “院农结合”的“研”与“为”论坛XX院厅、XX民学院与我院联合主办 “一带一路”背景下高校 “院农结合”的“研”与“为”论坛</a></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="index-four-box">
                    <div class="index-four-title">
                        <div class="index-all-title">
                            政策解读
                            <b></b>
                            <a href="/xszz/">更多>></a>
                        </div>
                    </div>

                    <div class="pa_textlist_6 padding-bottom-20 ">
                        <ul>
                            <li class="card1">
                                <i>1</i>
                                <a href="/news/1419.cshtml">通知：今晚XX时【某某大涨】又创新高！今年第XX次油价上调，赶紧加油！</a>
                            </li>
                            <li class="card1">
                                <i>2</i>
                                <a href="/news/1417.cshtml">某某能源局主要负责人视频某某某某国能源高级别对话会</a>
                            </li>
                            <li class="card1">
                                <i>3</i>
                                <a href="/news/1386.cshtml">某某能源局主要负责人某某20XX某某某某某某转型高层论坛</a>
                            </li>
                            <li class="card1">
                                <i>4</i>
                                <a href="/news/1414.cshtml">某某能源局主要负责人某某20XX某某某某某某转型高层论坛</a>
                            </li>
                            <li class="card1">
                                <i>5</i>
                                <a href="/news/1422.cshtml">中国工程科技发展战略海南研究院咨询研究项目在我校启动</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div>
                    <a href="/xklyb/">
                        <img src="/Templates/T20047/images/email.jpg" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

        <% include ../public/footer %>
    </div>
    <!-- <script>
        const { createApp, ref, reactive } = Vue
        const app = createApp({
            setup() {


                return {

                }
            }
        })


        app.use(ElementPlus);
        app.mount('#app')

    </script> -->
</body>

</html>