<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>

<body>
    <% include ../public/header %>

                 

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                
    <div class="sub-nav-box">
        <div class="sub-nav-title clearfix">
            视频图片
        </div>
        <div class="sub-nav" id="subNav">
            <ul><li data-id="4337"><a href="/tppd/">图片频道</a></li><li data-id="4338"><a href="/sppda/">视频频道</a></li><li data-id="4339"><a href="/xzzx/">下载中心</a></li></ul>
        </div>
    </div>
    <script type="text/javascript">
        var $subNav = $("#subNav");
        $subNav.children("ul").find("li").InitNav(4337);//初始化响应式菜单
    </script>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="all-Breadcrumb">
                    <div class="float-left visible-md hidden-sm hidden-xs">图片频道</div>
                    <div class="float-right">
    <ul class="breadcrumb">
        <li><a href="http://t20036.mbdemo.18inter.com/"><i class="fa fa-home"></i><span> 首页</span></a></li>
            <li><a href="/tppd/">视频图片</a></li>
            <li><a href="/tppd/">图片频道</a></li>
    </ul>

    </div>
                </div>
                <div class="product-list images-list imgae-same-size margin-top-20">
                    <ul class="marginAuto-15">
                            <% list.forEach(item => { %>
                                <li class="col-md-6 col-sm-6 col-xs-6 margin-bottom-20 item text-center">
                                    <a href="/images/102.cshtml">
                                        <div class="boxs">
                                            <div class="imgHover"><img src="<%=item.image_url%>"></div>
                                            <div class="title">
                                                <%=item.name%>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            <% }) %>
                    </ul>
                </div>
                
        <div class="text-center padding-20">
            <ul class="pagination">
                        <li class="disabled">
                            <a>&laquo;</a>
                        </li>
                        <li class=active>
                            <a href="/tppd/">1</a></li>
                            <li class="disabled">
                                <a>&raquo;</a>
                            </li>
    
        </ul>
    </div>
    
            </div>
        </div>
    </div>

    <% include ../public/footer %>
</body>

</html>