<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Add</title>
    <% include ../public/head %>
</head>
<body>
    <div id="app">
        <el-form :model="formdata" :rules="formRules" label-width="120px" ref="formRef">
            
            <el-form-item prop="category_id" label="所属栏目">
                <el-tree-select v-model="formdata.category_id" :data="categoryList" value-key="id" :render-after-expand="true" placeholder="请选择所属栏目"
                    :props="{
                        label: 'name',
                        children: 'children'
                    }"
                />
            </el-form-item>

            <el-form-item prop="title" label="标题">
                <el-input v-model="formdata.title" placeholder="请输入标题" />
            </el-form-item>

            <el-form-item prop="keywords" label="关键词">
                <el-input v-model="formdata.keywords" placeholder="请输入关键词" />
            </el-form-item>
            <el-form-item prop="description" label="描述">
                <el-input type="textarea" v-model="formdata.description" />
            </el-form-item>
            <el-form-item prop="image_url" label="封面图片">
                <el-upload class="upload-demo" drag action="" multiple>
                    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
                    <div class="el-upload__text">
                        拖拽或<em>点击上传</em>
                    </div>
                    <template #tip>
                        <div class="el-upload__tip">
                            jpg/png files with a size less than 500kb
                        </div>
                    </template>
                </el-upload>
            </el-form-item>
            <el-form-item label="视频文件">

            </el-form-item>
            <el-form-item prop="is_recommend" label="是否推荐">
                <el-radio-group v-model="formdata.is_recommend">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item prop="is_top" label="是否置顶">
                <el-radio-group v-model="formdata.is_top">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item prop="is_show" label="是否显示">
                <el-radio-group v-model="formdata.is_show">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item prop="content" label="内容">
                <tiny-editor v-model="formdata.content"></tiny-editor>
            </el-form-item>
            <el-form-item prop="create_time" label="添加时间">
                <el-date-picker v-model="formdata.time" type="datetime" value-format="X" placeholder="选择日期时间"></el-date-picker>
            </el-form-item>
            <el-form-item prop="hits" label="点击量">
                <el-input v-model="formdata.hits" />
            </el-form-item>
            <el-form-item prop="url" label="链接地址">
                <el-input v-model="formdata.url" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">提交</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script>
        const { createApp, ref, unref, reactive, onMounted } = Vue
        const app = createApp({
            setup() {
                const formdata = reactive({
                    id: null,
                    category_id: null,
                    title: '',
                    keywords: '',
                    description: '',
                    image_url: '',
                    file: '',
                    video_url: '',
                    is_recommend: '',
                    is_top: '',
                    is_show: '',
                    time: null,
                    hits: 0,
                    url: '',
                    content: ''
                })

                const category_id = globalUtils.getQueryString('category_id')
                if (category_id) formdata.category_id = +category_id
                const categoryList = ref([])
                const getCategoryList = () => {
                    $.ajax({
                        url: '/api/category/list/tree',
                        type: 'post',
                        dataType: 'json',
                        success: (res) => {
                            categoryList.value = res.data.list
                        }
                    })
                }
                getCategoryList()


                const formRules = {
                    category_id: [{ required: true, message: '请选择分类', trigger: 'change' }],
                    title: [{ required: true, message: '请输入标题', trigger: 'blur' }],
                    content: [{ required: true, message: '请输入内容', trigger: 'change'}],
                    is_recommend: [{ required: true, message: '请选择是否支持评论', trigger: 'change' }],
                    is_top: [{ required: true, message: '请选择是否置顶', trigger: 'change' }],
                    is_show: [{ required: true, message: '请选择是否显示', trigger: 'change' }],
                    time: [{ required: true, message: '请选择创建时间', trigger: 'change' }]
                }
                const formRef = ref()
                const submitForm = () => {
                    formRef.value.validate((valid) => {
                        if (!valid) return

                        const params = {...formdata}
                        params.update_time = params.time
                        if (!formdata.id) {
                            params.create_time = params.time
                        }
                        delete params.time

                        $.ajax({
                            url: '/api/article/insert',
                            data: { ...params },
                            type: "POST",
                            cache: false,
                            dataType: 'json',
                            success: function (res) {
                                if (res.code !== 200) return
                                ElementPlus.ElMessage.success('添加成功')
                                location.href = '/admin/article/list'
                            },
                            error: function (err) {
                                ElementPlus.ElMessage.error(err)
                            }
                        })
                    });
                }

                return {
                    formdata,
                    formRef,
                    formRules,
                    categoryList,
                    submitForm,
                    Editor
                }
            }
        })


        app.use(ElementPlus);
        app.component('tiny-editor', Editor)
        app.mount('#app')
    </script>
</body>
</html>