<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>

<body>
    <% include ../public/header %>

<div class="container">


    <div class="all-page-bg">
        <div class="detail-breadCrumb">

            <ul class="breadcrumb">
                <li><a href="http://t20036.mbdemo.18inter.com/"><i class="fa fa-home"></i><span> 首页</span></a></li>
                <li><a href="/xydt/">新闻资讯</a></li>
                <li><a href="/xydt/">学院动态</a></li>
            </ul>





        </div>
        <p class="text-center font-size-24 line-height-1-5 padding-bottom-10 padding-top-30">【科考人物】经略海洋从认识海洋开始</p>
        <div class="text-center">
            <span title="发布时间" class="margin-right-20">发布时间： 2022-09-06</span>
            <span title="点击数">点击数量：<span id="lb_clicks">0</span></span>
        </div>

        <div class="info-content padding-top-20 case-news" id="Content">
            <p>2、增加远程附件功能，更方便的实现网站和附件分离，提升大型网站的并发量和安全性。<br /><br />3、重写了上传功能，由之前的黑名单改为白名单方式，安全性更高，避免黑名单添加不全导致的安全问题。<br /><br />4、自定义字段增加增加了：颜色字段，自定义组件字段，多级下拉选择字段。<br /><br />5、改进登录出错的统计方式，提升安全性。<br /><br />6、优化多级分类管理功能，避免大数据下加载全部分类导致浏览器卡死问题。<br /><br />7、重写错误拦截功能，开启拦截后不再显示具体错误信息（三级等保新增的检测项目)<br /><br />8、增加密码复杂程度验证功能（三级等保新增的检测项目）<br /><br />9、信息表增加了投稿和验证码开关，修复了投稿验证码绕过的问题。<br /><br />10、修复信息批设属性的出错的问题。<br /><br />11、对日志描述信息进行html转码，避免html导致列表界面混乱。<br /><br />12、修改了删除栏目后，子级的模板和seo数据不能同步删除的问题。<br /><br />13、修复了编辑器批量上传图片，顺序出错的bug。<br /><br />14、改进附件表和附属表信息管理机制，杜绝冗余数据产生
            </p>
        </div>

        <div class="clearfix padding-top-20 padding-bottom-20 line-height-2 case-news">
            <ul>
                <li>下一篇：<a href="/news/4504.cshtml">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a></li>
            </ul>
        </div>
    </div>
</div>

    <% include ../public/footer %>
</body>

</html>