<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>
<body>
<% include ../public/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">

            <div class="sub-nav-box">
                <div class="sub-nav-title clearfix">
                    新闻资讯
                </div>
                <div class="sub-nav" id="subNav">
                    <ul>
                        <li data-id="4324"><a href="/xydt/">学院动态</a></li>
                        <li data-id="4325"><a href="/xzjz/">学术讲座</a></li>
                        <li data-id="4326"><a href="/tzgg/">通知公告</a></li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                var $subNav = $("#subNav");
                $subNav.children("ul").find("li").InitNav(4324);//初始化响应式菜单
            </script>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="all-Breadcrumb">
                <div class="float-left visible-md hidden-sm hidden-xs">学院动态</div>
                <div class="float-right">
                    <ul class="breadcrumb">
                        <li><a href="http://t20036.mbdemo.18inter.com/"><i class="fa fa-home"></i><span>
                                    首页</span></a></li>
                        <li><a href="/xydt/">新闻资讯</a></li>
                        <li><a href="/xydt/">学院动态</a></li>
                    </ul>




                </div>
            </div>
            <ul class="news-list">
                <% list.forEach(item => {%> 
                <li>
                    <div class="title">
                        <a href="/news/4505.cshtml" title="<%=item.name%>"><%=item.title%></a>
                    </div>
                    <div class="introduct text-gray">
                        <%=item.description%>
                    </div>
                    <div class="date text-grayDark"><%=item.time%></div>
                </li>
                <%}) %>

            </ul>

            <div class="text-center padding-20">
                <ul class="pagination">
                    <li class="disabled">
                        <a>&laquo;</a>
                    </li>
                    <li class=active>
                        <a href="/xydt/">1</a>
                    </li>
                    <li class="disabled">
                        <a>&raquo;</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<% include ../public/footer %>
</body>
</html>
