<!DOCTYPE html>
<html lang="en">
<link>
<meta charset="UTF-8">
<title>后台文章管理</title>

<!-- 引入 layui.js -->
<link href="/libs/layui-v2.8.1/css/layui.css" rel="stylesheet">
<script src="/libs/layui-v2.8.1/layui.js"></script>
<link rel="stylesheet" href="/assets/css/common.css">
</head>

<body>

    admin posts

</body>
</html>