<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div class="layui-tab layui-tab-brief main-tab-container">
        <ul class="layui-tab-title main-tab-title">
            <span class="main-tab-item">栏目管理</span>
        </ul>
        <div class="layui-tab-content">
            <el-table :data="tableData" height="100%" row-key="id" border default-expand-all  style="width: 100%">

                <el-table-column prop="name" label="栏目名称" width="200">
                    <template v-slot="scope">{{scope.row.level === 1 ? '├─' : ''}} {{scope.row.name}}</template>
                </el-table-column>

                <el-table-column prop="id" label="ID" width="80"></el-table-column>

                <el-table-column prop="sort" label="排序" width="80"></el-table-column>
                
                <el-table-column prop="type" label="类型" width="100">
                    <template #default="scope">
                        <span v-if="scope.row.type === 1">频道</span>
                        <span v-else-if="scope.row.type === 2">列表</span>
                        <span v-else-if="scope.row.type === 3">单页</span>
                    </template>
                </el-table-column>
                
                <el-table-column prop="model_id" label="所属模型" width="100"></el-table-column>

                <el-table-column prop="address" label="导航显示" width="100">
                    <template v-slot="scope">{{scope.row.is_menu === 1 ? '是' : '否'}}</template>
                </el-table-column>

                <el-table-column label="操作">
                    <template v-slot="scope">
                        <el-button><a :href="`/admin/category/add?id=${scope.row.id}`">编辑</a></el-button>
                        <el-button disabled>删除</el-button>
                        <el-button v-if="scope.row.type === 1"><a :href="`/admin/category/add?parent_id=${scope.row.id}`">添加子分类</a></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>

<script>
    const {createApp, ref} = Vue

    const app = createApp({
        data() {
            return {
                message: 'Hello Vue!'
            }
        },
        setup() {
            const tableData = ref([])
            axios({
                url: "/api/category/list/get",
                method: "POST",
                data: { currentPage: 1, pageSize: 100 },
            }).then(res => {
                tableData.value = res.data.list || []
            })
            return {
                tableData
            }
        }
    })
    

    app.use(ElementPlus);
    app.mount('#app')
    

</script>
</body>
</html>