<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div class="layui-tab layui-tab-brief main-tab-container">
        <ul class="layui-tab-title main-tab-title">
            <span class="main-tab-item">栏目管理</span>
        </ul>
        <div class="layui-tab-content">
            <div style="margin: 15px 0;">
                <el-button type="primary" plain @click="toggleRowExpand">{{isExpand ? '收起' : '展开'}}行</el-button>
            </div>
            <el-table ref="tableRef" :data="tableData" height="100%" row-key="id" border :default-expand-all="false"  style="width: 100%">

                <el-table-column prop="name" label="栏目名称" width="200">
                    <template v-slot="scope">{{scope.row.level === 1 ? '├─' : ''}} {{scope.row.name}}</template>
                </el-table-column>

                <el-table-column prop="id" label="ID" width="80"></el-table-column>

                <el-table-column prop="sort" label="排序" width="80"></el-table-column>
                
                <el-table-column prop="type" label="类型" width="100">
                    <template #default="scope">
                        <el-tag type="danger" v-if="scope.row.type === 1">频道</el-tag>
                        <el-tag type="success" v-else-if="scope.row.type === 2">列表</el-tag>
                        <el-tag type="warning" v-else-if="scope.row.type === 3">单页</el-tag>
                    </template>
                </el-table-column>
                
                <el-table-column prop="model_id" label="所属模型" width="100"></el-table-column>

                <el-table-column prop="address" label="导航显示" width="100">
                    <template v-slot="scope">
                        <el-switch :model-value="!!scope.row.is_menu" active-color="#13ce66" inactive-color="#ff4949" @change="onIsMenuChange(scope.row)"></el-switch>
                    </template>
                </el-table-column>

                <el-table-column label="操作">
                    <template v-slot="scope">
                        <el-button type="primary" plain><a :href="`/admin/category/add?id=${scope.row.id}`">编辑</a></el-button>
                        <el-button type="danger" plain :disabled="scope.row.children.length > 0" @click="handleDelete(scope.row)">删除</el-button>
                        <el-button type="warning" plain v-if="scope.row.type === 1"><a :href="`/admin/category/add?parent_id=${scope.row.id}`">添加子分类</a></el-button>
                        <el-button type="info" plain v-else><a :href="`/admin/article/add?category_id=${scope.row.id}`">添加文章</a></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>

<script>
    const {createApp, ref} = Vue

    const app = createApp({
        setup() {
            const tableData = ref([])
            const tableRef = ref()
            const isExpand = ref(false)

            const getList = () => {
                axios({
                    url: "/api/category/list/get",
                    method: "POST",
                    data: { currentPage: 1, pageSize: 100 },
                }).then(res => {
                    tableData.value = res.data.list || []
                })
            }
            getList()

            const deleteCategory = (id) => {
                axios({
                    url: "/api/category/delete",
                    method: "POST",
                    data: { id },
                }).then(res => {
                    ElementPlus.ElMessage.success('删除成功')
                    getList()
                })
            }

            const updateCategory = (options) => {
                axios({
                    url: "/api/category/update",
                    method: "POST",
                    data: options,
                }).then(res => {
                    ElementPlus.ElMessage.success('更新成功')
                    getList()
                })
            }


            const handleDelete = (row) =>  {
                ElementPlus.ElMessageBox.confirm(`确定删除名字为<strong>${row.name}</strong>的分类吗`, '删除提醒', {
                    dangerouslyUseHTMLString: true,
                    showCancelButton: true,
                    closeOnPressEscape: false,
                    closeOnClickModal: false,
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    callback: (action) => {
                        if (action === 'confirm') {
                            deleteCategory(row.id)
                        }
                    }
                })
            }

            const toggleRowExpand = () => {
                isExpand.value = !isExpand.value
                tableData.value.forEach(row => {
                    tableRef.value.toggleRowExpansion(row, isExpand.value)
                })
            }

            const onIsMenuChange = async (row) => {
                const isMenu = !row.is_menu
                await updateCategory({id: row.id, is_menu: isMenu})
            }
            return {
                tableData,
                tableRef,
                handleDelete,
                toggleRowExpand,
                isExpand,
                onIsMenuChange
            }
        }
    })
    

    app.use(ElementPlus);
    app.mount('#app')
    

</script>
</body>
</html>