<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div class="layui-tab layui-tab-brief main-tab-container">
        <ul class="layui-tab-title main-tab-title">
            <li class="layui-this"><a href="/admin/category/list">栏目列表</a></li>
            <li><a href="/admin/category/add">添加栏目</a></li>
            <span class="main-tab-item">栏目管理</span>
        </ul>
        <div class="layui-tab-content">
            <el-table :data="tableData" height="100%" border style="width: 100%">
                     
                <el-table-column prop="sort" label="排序" width="80">
                </el-table-column>
                <el-table-column prop="id" label="ID" width="80">
                </el-table-column>
                <el-table-column prop="name" label="栏目名称" width="200">
                    <template v-slot="scope">{{scope.row.level === 1 ? '├─' : ''}} {{scope.row.name}}</template>
                </el-table-column>
                <el-table-column prop="model_id" label="所属模型" width="100">
                </el-table-column>
                <el-table-column prop="address" label="导航显示" width="100">
                    <template v-slot="scope">{{scope.row.is_menu === 1 ? '是' : '否'}}</template>
                </el-table-column>
                <el-table-column label="操作">
                    <template v-slot="scope">
                        <el-button>编辑</el-button>
                        <el-button>删除</el-button>
                        <el-button v-if="scope.row.level === 1">添加内容</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>

<script>
    const {createApp, ref} = Vue

    const app = createApp({
        data() {
            return {
                message: 'Hello Vue!'
            }
        },
        setup() {
            const tableData = ref([])
            $.ajax({
                url: "/api/category/list/get",
                data: { currentPage: 1, pageSize: 100 },
                type: "POST",
                cache: false,
                dataType: 'json',
                success: function (res) {
                    tableData.value = (res.data.list || []).reduce((acc, item) => {
                        const children = item.children || []
                        delete item.children
                        acc.push(item)

                        acc.push(...children.map((item, index) => {
                            return {
                                ...item,
                                level: 1
                            }
                        }))
                        return acc
                    }, [])
                },
                error: function () {
                    layui.layer.msg('异常');
                }
            })
            return {
                tableData
            }
        }
    })
    

    app.use(ElementPlus);
    app.mount('#app')
    

</script>
</body>
</html>