<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Add</title>
    <% include ../public/head %>
</head>
<body>
    <div id="app">
        <el-form :model="formdata" label-width="120px">
            <el-form-item prop="category_id" label="所属栏目">
                <el-select v-model="formdata.category_id" placeholder="请选择所属栏目">
                    <el-option label="Zone one" value="shanghai" />
                    <el-option label="Zone two" value="beijing" />
                </el-select>
            </el-form-item>

            <el-form-item prop="title" label="标题">
                <el-input v-model="formdata.title" placeholder="请输入标题" />
            </el-form-item>

            <el-form-item prop="keywords" label="关键词">
                <el-input v-model="formdata.keywords" placeholder="请输入关键词" />
            </el-form-item>
            <el-form-item prop="description" label="描述">
                <el-input type="textarea" v-model="formdata.description" />
            </el-form-item>
            <el-form-item prop="image_url" label="封面图片">
                <el-upload class="upload-demo" drag action="" multiple>
                    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
                    <div class="el-upload__text">
                        拖拽或<em>点击上传</em>
                    </div>
                    <template #tip>
                        <div class="el-upload__tip">
                            jpg/png files with a size less than 500kb
                        </div>
                    </template>
                </el-upload>
            </el-form-item>
            <el-form-item label="视频文件">

            </el-form-item>
            <el-form-item prop="is_recommend" label="是否推荐">
                <el-radio-group v-model="formdata.is_recommend">
                    <el-radio value="1" label="是"></el-radio>
                    <el-radio value="0" label="否"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item prop="is_top" label="是否置顶">
                <el-radio-group v-model="formdata.is_top">
                    <el-radio value="1" label="是"></el-radio>
                    <el-radio value="0" label="否"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item prop="is_show" label="是否显示">
                <el-radio-group v-model="formdata.is_show">
                    <el-radio value="1" label="是"></el-radio>
                    <el-radio value="0" label="否"></el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="内容">
                <textarea id="mytextarea"></textarea>
            </el-form-item>
            <el-form-item prop="create_time" label="添加时间">
                <el-date-picker v-model="formdata.create_time" type="date" placeholder="Pick a date" style="width: 100%" />
            </el-form-item>
            <el-form-item prop="hits" label="点击量">
                <el-input v-model="formdata.hits" />
            </el-form-item>
            <el-form-item prop="url" label="链接地址">
                <el-input v-model="formdata.url" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">Create</el-button>
                <el-button>Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script>
        const { createApp, ref, reactive } = Vue
        const app = createApp({
            setup() {
                const formdata = reactive({
                    category_id: null,
                    title: '',
                    keywords: '',
                    description: '',
                    image_url: '',
                    file: '',
                    video_url: '',
                    is_recommend: 0,
                    is_top: 0,
                    is_show: 1,
                    create_time: null,
                    hits: 0,
                    url: '',
                    content: ''
                })

                return {
                    formdata
                }
            }
        })


        app.use(ElementPlus);
        app.mount('#app')
    </script>
</body>
</html>