<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
    <% include ../public/head %>
</head>
<body>
    <div id="app">
        <el-table :data="articleList" height="100%" style="width: 100%">
            <el-table-column prop="id" label="ID" width="180"></el-table-column>
            <el-table-column prop="title" label="标题" width="180"></el-table-column>
            <el-table-column prop="description" label="描述" width="180"></el-table-column>
            <el-table-column prop="create_time" label="创建时间">
                <template v-slot="scope">{{dayjs(scope.row.create_time*1000).format('YYYY-MM-DD HH:mm:ss')}}</template>
            </el-table-column>
            <el-table-column prop="update_time" label="更新时间">
                <template v-slot="scope">{{dayjs(scope.row.update_time*1000).format('YYYY-MM-DD HH:mm:ss')}}</template>
            </el-table-column>
        </el-table>
    </div>
    <script>
        const { createApp, ref, reactive } = Vue
        const app = createApp({
            setup() {
                const pagination = reactive({
                    currentPage: 1,
                    pageSize: 10
                })
                const articleList = ref([])
                const getArticleList = () => {
                    $.ajax({
                        url: '/api/article/list/get',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            currentPage: pagination.currentPage,
                            pageSize: pagination.pageSize
                        },
                        success: (res) => {
                            articleList.value = res.data.list
                        },
                        error: () => {

                        }
                    })
                }
                getArticleList()

                return {
                    articleList,
                    dayjs
                }
            }
        })


        app.use(ElementPlus);
        app.mount('#app')
    
    </script>
</body>
</html>