<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>
<body>
    <% include ../public/header %>



<section>
    <!--校园新闻-->
    <div class="index-news wow slideInUp">
        <div class="maxWidthIndex">
            <div class="index-news-Title">
                <p class="all-index-title">学院动态</p>
                <div class="float-right"><a class="all-index-more" href="/xydt/">更多>></a></div>
            </div>
            <div class="index-news-box marginAuto-15">

                <div class="col-md-6 col-col-sm-6 col-xs-12">
                    <ul class="index-news-leftList marginAuto-15">
                        <li>
                            <div class="imgBox"><a href="/news/4498.cshtml"
                                    title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开"><img
                                        src="/upload/images/2022/09/06/13125103703.jpg" /></a></div>
                            <div class="textBox">
                                <p class="card1"><a href="/news/4498.cshtml"
                                        title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a>
                                </p>
                                <div class="card2">
                                    新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="imgBox"><a href="/news/4497.cshtml"
                                    title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛"><img
                                        src="/upload/images/2022/09/06/13126103713.jpg" /></a></div>
                            <div class="textBox">
                                <p class="card1"><a href="/news/4497.cshtml"
                                        title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛">XX教育厅、XX民族师范学院与我校联合主办
                                        “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</a></p>
                                <div class="card2">
                                    系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-col-sm-6 col-xs-12">
                    <ul class="index-news-rightList">
                        <li>
                            <div class="date">
                                <p>06</p>
                                <div>2022-09</div>
                            </div>
                            <div class="text">
                                <p class="card1"><a href="/news/4505.cshtml"
                                        title="【科考人物】经略海洋从认识海洋开始">【科考人物】经略海洋从认识海洋开始</a></p>
                                <div class="card2">
                                    新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                                </div>
                            </div>
                        </li>
                        <li><a href="/news/4504.cshtml" class="card1"
                                title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a><span>2022-09-06</span>
                        </li>
                        <li><a href="/news/4503.cshtml" class="card1"
                                title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a><span>2022-09-06</span>
                        </li>
                        <li><a href="/news/4502.cshtml" class="card1"
                                title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛">XX教育厅、XX民族师范学院与我校联合主办
                                “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</a><span>2022-09-06</span></li>
                        <li><a href="/news/4501.cshtml" class="card1"
                                title="【科考人物】经略海洋从认识海洋开始">【科考人物】经略海洋从认识海洋开始</a><span>2022-09-06</span></li>
                        <li><a href="/news/4500.cshtml" class="card1"
                                title="校领导检查指导民族学院2022届毕业生就业工作">校领导检查指导民族学院2022届毕业生就业工作</a><span>2022-09-06</span></li>
                        <li><a href="/news/4499.cshtml" class="card1"
                                title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话</a><span>2022-09-06</span>
                        </li>
                        <li><a href="/news/4498.cshtml" class="card1"
                                title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a><span>2022-09-06</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--学院动态 、 专题专栏-->
    <div class="index-College-bg">
        <div class="maxWidthIndex">
            <div class="index-College-box marginAuto-15">
                <div class="col-md-4 col-sm-4 col-xs-12 wow slideInUp" data-wow-delay="0.1s">
                    <div class="index-College-title">
                        <p class="all-index-title">学术讲座</p>
                        <div class="float-right"><a class="all-index-more" href="/xzjz/">更多>></a></div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4510.cshtml" title="【科考人物】经略海洋从认识海洋开始">【科考人物】经略海洋从认识海洋开始</a></p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4509.cshtml" title="校领导检查指导民族学院2022届毕业生就业工作">校领导检查指导民族学院2022届毕业生就业工作</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4508.cshtml"
                                    title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4507.cshtml"
                                    title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4506.cshtml"
                                    title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛">XX教育厅、XX民族师范学院与我校联合主办
                                    “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</a></p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow slideInUp" data-wow-delay="0.2s">
                    <div class="index-College-title">
                        <p class="all-index-title">领导信箱</p>
                        <div class="float-right"><a class="all-index-more" href="/ldxx/">更多>></a></div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4515.cshtml" title="校领导检查指导民族学院2022届毕业生就业工作">校领导检查指导民族学院2022届毕业生就业工作</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4514.cshtml"
                                    title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4513.cshtml"
                                    title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛">XX教育厅、XX民族师范学院与我校联合主办
                                    “一带一路”背景下高校 “校农结合”的“研”与“为”论坛</a></p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4512.cshtml"
                                    title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a>
                            </p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                            </div>
                        </div>
                    </div>
                    <div class="index-College-list">
                        <div class="date">
                            <p>06</p>
                            <div>2022-09</div>
                        </div>
                        <div class="text">
                            <p><a href="/news/4511.cshtml" title="【科考人物】经略海洋从认识海洋开始">【科考人物】经略海洋从认识海洋开始</a></p>
                            <div class="card2 visible-md hidden-sm hidden-xs">
                                系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow slideInUp" data-wow-delay="0.3s">
                    <div id="index-College-slideBox" class="index-College-slideBox">
                        <div class="bd">
                            <ul>
                                <li>
                                    <div class="image-box"><a href="/news/4519.cshtml"
                                            title="校领导检查指导民族学院2022届毕业生就业工作"><img
                                                src="/upload/images/2022/09/06/13130110215.jpg" /></a></div>
                                    <div class="text-box">
                                        <div class="text-box-bg">
                                            <p class="card1"><a href="/news/4519.cshtml"
                                                    title="校领导检查指导民族学院2022届毕业生就业工作">校领导检查指导民族学院2022届毕业生就业工作</a></p>
                                            <div class="card2">
                                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                                            </div>
                                            <a class="all-index-more" href="/tzgg/">更多>></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box"><a href="/news/4518.cshtml"
                                            title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”"><img
                                                src="/upload/images/2022/09/06/13129110156.jpg" /></a></div>
                                    <div class="text-box">
                                        <div class="text-box-bg">
                                            <p class="card1"><a href="/news/4518.cshtml"
                                                    title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”">校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”</a>
                                            </p>
                                            <div class="card2">
                                                系统办学是本校的第一大特点。目前本校已经发展为由1所市级学院，4个直属学院、23所分校和教学点组成的系统办学体系，市校本部位于郑州市区中心，直属学院、分校和教学点分布于市13个区和部分委办局及大型企事业单位，形成了覆盖全市各区，各行业的开放教育网络。
                                            </div>
                                            <a class="all-index-more" href="/tzgg/">更多>></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box"><a href="/news/4517.cshtml"
                                            title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开"><img
                                                src="/upload/images/2022/09/06/13128110135.jpg" /></a></div>
                                    <div class="text-box">
                                        <div class="text-box-bg">
                                            <p class="card1"><a href="/news/4517.cshtml"
                                                    title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开">我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开</a>
                                            </p>
                                            <div class="card2">
                                                新一轮科技革命正对人类生产、生活和生存方式，产生变革性影响。以5G、物联网和云计算为代表的大数据科学技术的进步，将使整个产业链、供应链、价值链被实时数据化，从而释放出不可估量的创新业态潜力。这种影响的广度和深度是前所未有的，因此大学也亟需培养出能够应对此类变革的复合型人才，这对大学的功能特别是其根本职能——人才培养产生深远影响。1、【主要更新】采用vue（摒弃jquery）重构了后台管理框架和操作界面，极大提升运行速度和用户操作体验。
                                            </div>
                                            <a class="all-index-more" href="/tzgg/">更多>></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--校园数据-->
    <div class="maxWidthIndex wow slideInLeft">
        <div class="CampusData marginAuto-15">
            <div class="CampusData-title">
                <p class="all-index-title">校园数据</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>2008</p>
                    <i class="fa fa-building"></i>
                    <div class="card2">08年教育部批准设立全日制XX独立院校</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>100</p>
                    <i class="fa fa-bank"></i>
                    <div class="card2">XX综合实力100强独立学院</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>5</p>
                    <i class="fa fa-thumbs-up"></i>
                    <div class="card2">某某民政厅5A级院校</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>7000</p>
                    <i class="fa fa-users"></i>
                    <div class="card2">在校本科学生近7000人</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>45</p>
                    <i class="fa fa-graduation-cap"></i>
                    <div class="card2">优势特色XX专业45个</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>500</p>
                    <i class="fa fa-globe"></i>
                    <div class="card2">到XX、XX及XX等国家深造学生达500名</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>80</p>
                    <i class="fa fa-briefcase"></i>
                    <div class="card2">20XX年大中型企业就业率高达80%以上</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="number-box">
                    <p>60</p>
                    <i class="fa fa-money"></i>
                    <div class="card2">奖助学金覆盖范围达 60% 以上</div>
                </div>
            </div>
        </div>
    </div>

    <!--图片-->
    <div class="Index-images wow slideInRight">
        <div class="col-md-6 col-sm-12 col-xs-12 padding-0">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
                <div class="Index-images-one">
                    <a href="/images/85.cshtml" title="校园环境">
                        <img src="/upload/images/2022/09/06/th-8133112803.jpg" />
                        <div class="mask"></div>
                        <div class="text">校园环境</div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
                <div class="Index-images-Two">
                    <a href="/images/87.cshtml" title="校内草坪">
                        <img src="/upload/images/2022/09/06/th-8135113218.jpg" />
                        <div class="mask"></div>
                        <div class="text">校内草坪</div>
                    </a>
                </div>
                <div class="Index-images-Two">
                    <a href="/images/86.cshtml" title="环岛湖">
                        <img src="/upload/images/2022/09/06/th-8134112853.jpg" />
                        <div class="mask"></div>
                        <div class="text">环岛湖</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 padding-0">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
                <div class="Index-images-one">
                    <a href="/images/88.cshtml" title="校内操场">
                        <img src="/upload/images/2022/09/06/th-8136113400.jpg" />
                        <div class="mask"></div>
                        <div class="text">校内操场</div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
                <div class="Index-images-Two">
                    <a href="/images/90.cshtml" title="校园后山">
                        <img src="/upload/images/2022/09/06/th-8138113503.jpg" />
                        <div class="mask"></div>
                        <div class="text">校园后山</div>
                    </a>
                </div>
                <div class="Index-images-Two">
                    <a href="/images/89.cshtml" title="足球场">
                        <img src="/upload/images/2022/09/06/th-8137113434.jpg" />
                        <div class="mask"></div>
                        <div class="text">足球场</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--专题专栏-->
    <div class="index-Special-bg">
        <div class="maxWidthIndex">
            <div class="index-Special-title">
                <p class="all-index-title">专题专栏</p>
                <div class="float-right"><a class="all-index-more" href="/ztpd/">更多>></a></div>
            </div>
            <div class="index-Special-box marginAuto-15">

                <div class="col-md-3 col-sm-6 col-xs-12 wow slideInUp" data-wow-delay="0.1s">
                    <div class="index-Special-imgBox"><a href="/images/94.cshtml" title="校领导检查指导民族学院2022届毕业生就业工作"><img
                                src="/upload/images/2022/09/06/8142114820.jpg" /></a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow slideInUp" data-wow-delay="0.2s">
                    <div class="index-Special-imgBox"><a href="/images/93.cshtml"
                            title="校党委常委会传达学习习近平总书记在省部级主要领导干部“学习习近平总书记重要讲话”"><img
                                src="/upload/images/2022/09/06/8141114809.jpg" /></a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="index-Special-imgBox"><a href="/images/92.cshtml"
                            title="我校主编《XXXXXXXXXX技术规程》编制组成立暨第一次工作会议召开"><img
                                src="/upload/images/2022/09/06/8140114800.jpg" /></a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow slideInUp" data-wow-delay="0.4s">
                    <div class="index-Special-imgBox"><a href="/images/91.cshtml"
                            title="XX教育厅、XX民族师范学院与我校联合主办 “一带一路”背景下高校 “校农结合”的“研”与“为”论坛"><img
                                src="/upload/images/2022/09/06/8139114742.jpg" /></a></div>
                </div>

            </div>
        </div>
    </div>

    <!--快捷链接-->
    <div class="index-link-bg wow slideInUp" data-wow-delay="0.5s">
        <div class="maxWidthIndex">
            <div class="index-link-title">
                <p class="all-index-title">快捷链接</p>
                <div class="float-right"><a class="all-index-more" href="/lxwm/">更多>></a></div>
            </div>
            <ul class="index-link-box">
                <li><a href="#"><i class="fa fa-tv"></i>
                        <p>教务系统</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-folder-open-o"></i>
                        <p>网络教学</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-file-o"></i>
                        <p>教学资源</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>
                        <p>实习管理</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-home"></i>
                        <p>数字校园</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-mortar-board"></i>
                        <p>招生就业</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-photo"></i>
                        <p>图片频道</p>
                    </a></li>
                <li><a href="#"><i class="fa fa-handshake-o"></i>
                        <p>互动交流</p>
                    </a></li>
            </ul>
        </div>
    </div>
</section>

<script>
    jQuery(".index-College-slideBox").slide({ mainCell: ".bd ul", autoPlay: true });
</script>

<footer>
    <div class="container addfoot">
        <div class="line-height-2 text-white font-size-16">
            版权所有 &copy 2023 某某学院网站
            <p>联系地址：某某省某某市某某区某某学府路 电话：0791-00000000 传真：0791-00000000</p>
            <p>备案证号:<a href="http://beian.miit.gov.cn " target="_blank">粤ICP备xxxxxxxx号</a></p>
        </div>
        <div class="copyright line-height-2"><a href="http://www.pageadmin.net" target="_blank">Powered By PageAdmin
                Cms</a></div>
        <ul class="footer-Right visible-md hidden-sm hidden-xs">
            <li><a href="#" target="_blank"><img src="/Templates/T20036/images/foot1.png" /></a></li>
            <li><a href="#" target="_blank"><img src="/Templates/T20036/images/foot2.png" /></a></li>
            <li><a href="#" target="_blank"><img src="/Templates/T20036/images/foot3.png" /></a></li>
        </ul>
    </div>
</footer>

<!--置顶-->
<!--首页置顶-->
<div class="menu-icon">
    <ul>
        <li>
            <a href="#" title="微博" target="_blank">
                <i class="fa fa-weibo" aria-hidden="true"></i>微博
            </a>
        </li>
        <li>
            <a href="#" title="微信" target="_blank">
                <i class="fa fa-wechat" aria-hidden="true"></i>微信
            </a>
        </li>
        <li>
            <a href="/zxtc/" title="问卷调查" target="_blank">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>问卷调查
            </a>
        </li>
        <li>
            <a href="/lxwm/" title="在线留言" target="_blank">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>在线留言
            </a>
        </li>
        <li class="goToTop">
            <a href="#" title="返回顶部" target="_blank">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>返回顶部
            </a>
        </li>
    </ul>
</div>



<!--手机端固定-->
<div class="bg-bottgray position-fixed bott-fixed phoblack">
    <ul class="text-center backsame">
        <li class="col-xs-4">
            <a href="http://t20036.mbdemo.18inter.com/">
                <i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="col-xs-4">
            <a href="tel:xxxx-xxxxxxx">
                <i class="fa fa-phone-square"></i>
                <span class="text-white font-size-12">资讯我们</span>
            </a>
        </li>
        <li class="col-xs-4">
            <div class="curpointer goToTop">
                <a href="#">
                    <i class="fa fa-caret-square-o-up"></i>
                    <span>置顶</span>
                </a>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    //置顶
    $goToTop = $('.goToTop');
    $goToTop.click(function () {
        $('html ,body').animate({ scrollTop: 0 }, 300);
        return false;

    });
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        new WOW().init();
    };
</script>

    <% include ../public/footer %>
</body>
</html>