<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ../public/head %>
</head>
<body>
    <% include ../public/header %>
<div class="container">

    <ul class="breadcrumb">
        <li><a href="http://t1114.mbdemo.18inter.com/"><span class="fa fa-home"> 首页</span></a></li>
        <li><a href="/wzjs/">网站建设</a></li>
    </ul>

    <div class="row">
        <div class="col-md-8 padding-md-right-5 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10">
            <ul class="newsmodel-3">
            </ul>
            <!-- 推荐模块一 -->
            <div class="combox-shadow margin-top-20 padding-20">
                <div class="com-title">
                    <span>相关文章</span>
                </div>
                <ul class="newsmodel-1 row image-same-size">
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1392.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0929478130.jpg" />
                            </div>
                            <p class="tit margin-top-10">万变不离其宗的SEO排名，细节、思路、方法</p>
                        </a>
                    </li>
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1391.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0937232340.jpg" />
                            </div>
                            <p class="tit margin-top-10">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</p>
                        </a>
                    </li>
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1390.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0930002620.jpg" />
                            </div>
                            <p class="tit margin-top-10">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</p>
                        </a>
                    </li>
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1389.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0931402290.jpg" />
                            </div>
                            <p class="tit margin-top-10">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</p>
                        </a>
                    </li>
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1388.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0940377670.jpg" />
                            </div>
                            <p class="tit margin-top-10">万变不离其宗的SEO排名，细节、思路、方法</p>
                        </a>
                    </li>
                    <li class="col-sm-4 col-xs-12 padding-top-20">
                        <a href="/news/1387.cshtml">
                            <div class="pic-box overflow-hidden">
                                <img class="pic" src="/upload/Images/2020/01/04/0935099350.jpg" />
                            </div>
                            <p class="tit margin-top-10">腾讯获赔4524万元</p>
                        </a>
                    </li>

                </ul>

            </div>







        </div>

        <div class="col-md-4  visible-md hidden-sm margin-top-10 margin-bottom-20">



            <div class="combox-shadow">
                <div class="login padding-10" style="min-height:178px;">
                    <script src="/Js/basic.js" type="text/javascript"></script>
                    <script src="/Js/UI/ui.js" type="text/javascript"></script>
                    <form class="forms-sample" method="post" id="loginForm" data-validate-params="tipsStyle:0"
                        autocomplete="off">

                        <div id="aside_about" class="widget_aside_about">
                            <img class="bg" src="/Templates/t1114/images/a.jpg">
                            <div class="avatar"><img class="img" src="/Templates/t1114/images/head.jpg" /></div>
                            <div class="wrap pd">
                                <p class="title">未登录</p>
                                <p class="info">欢迎注册登录，加入我们。为企业提供账号策划、开通蓝v认证、账号运营、店铺管理培训、内容创作拍摄、视频整合营销的等全栈式运营培训服务。 </p>
                            </div>

                            <ul>
                                <li class="form-group loginbox_item">
                                    <input placeholder="用户名" type="text" name="username" id="username"
                                        class="loginbox_textbox form-control"
                                        style="width:90%;margin:10px auto;display:block;height:24px; padding-left:6px;"
                                        data-validate="dataType:'*',nullMsg:'请填写登录账号'" maxlength="16">
                                </li>
                                <li class="loginbox_item form-group ">
                                    <input placeholder="密  码" type="password" name="password" id="username"
                                        class="loginbox_textbox form-control "
                                        style="width:90%;margin:10px auto;display:block; padding-left:6px;"
                                        maxlength="16">
                                </li>
                                <li class="loginbox_item form-group clearfix">
                                    <input name="__RequestVerificationToken" type="hidden"
                                        value="GkwLvgn6GOc0b4nuLRnFPf2bGYPsA_ZdgXCvERDffq6VfhDUJaI6TcyiDQ9EVm8FFMzXFdhzQET4NJBMb66LTztWCWIeq_IqsQp-i3KLL4I1" />
                                    <button type="button"
                                        class="loginbox_submit ui-pagePost btn btn-primary col-xs-offset-1 col-xs-4"
                                        data-custom-params="url:'/member/Login/',callBack:'LoginSuccess',failCallBack:'FailCallBack',successMsg:''">登录</button>
                                    <a class="logined_href loginbox_submit btn btn-success col-xs-offset-2 col-xs-4"
                                        href="/member/Reg/" target="_blank">注册会员</a>
                                    <a class="logined_href " href="/member/FindPassword/" target="_blank"
                                        style="color:#333;line-height:22px;padding:3px;display:none;">忘记密码</a>
                                </li>
                            </ul>

                        </div>

                    </form>


                    <script type="text/javascript">

                        var $form = $("#loginForm");
                        var $verificationCode = $("#_VerificationCode");
                        var $loginBox = $("#LoginBox");
                        //保存登录信息到本地
                        function SaveInfo() {
                            if ($("#cookies").prop("checked")) {
                                var serializerStr = $form.SerializeJson();
                                serializerStr = JsonToString(serializerStr);
                                SetLocalStorage("LoginUserInfo", serializerStr);
                            }
                            else {
                                RemoveLocalStorage("LoginUserInfo");
                            }
                        }

                        function LoginSuccess() {
                            layer.msg('登录成功...', {
                                icon: 16,
                                time: 200000, //200秒
                                shade: 0.01
                            });
                            SaveInfo();
                            location.href = location.href;
                        }
                        var $tipsBox = $(".validate-all-tips-box");
                        var $verificationCodeImg = $("#verificationCodeImg");

                        function FailCallBack(data) {
                            alert(data.Msg);
                        }
                        function Exit() {
                            Msg("loading...")
                            var url = "/member/Login/Exit/";
                            var Data = Ajax({ type: "get", async: true, url: url }, function () {
                                location.href = location.href;
                            });
                        }
                    </script>

                </div>
            </div>


            <div id="aside_hot" class=" combox-shadow margin-top-20  padding-20">
                <div class="com-title">
                    <span>热门文章</span>
                </div>
                <ul class="aside_hot padding-top-10">

                    <li class="clearfix"><span class="list">1.</span><a href="/news/1392.cshtml"
                            class="text-overflow">万变不离其宗的SEO排名，细节、思路、方法</a></li>
                    <li class="clearfix"><span class="list">2.</span><a href="/news/1391.cshtml"
                            class="text-overflow">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a></li>
                    <li class="clearfix"><span class="list">3.</span><a href="/news/1390.cshtml"
                            class="text-overflow">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a></li>
                    <li class="clearfix"><span class="list">4.</span><a href="/news/1389.cshtml"
                            class="text-overflow">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a></li>
                    <li class="clearfix"><span class="list">5.</span><a href="/news/1388.cshtml"
                            class="text-overflow">万变不离其宗的SEO排名，细节、思路、方法</a></li>
                    <li class="clearfix"><span class="list">6.</span><a href="/news/1387.cshtml"
                            class="text-overflow">腾讯获赔4524万元</a></li>
                    <li class="clearfix"><span class="list">7.</span><a href="/news/1386.cshtml"
                            class="text-overflow">《全民枪战》被判抄袭《穿越火线》</a></li>
                    <li class="clearfix"><span class="list">8.</span><a href="/news/1374.cshtml"
                            class="text-overflow">巴厘岛</a></li>
                    <li class="clearfix"><span class="list">9.</span><a href="/news/1373.cshtml"
                            class="text-overflow">三亚亚龙湾</a></li>
                    <li class="clearfix"><span class="list">10.</span><a href="/news/1372.cshtml"
                            class="text-overflow">迪拜</a></li>


                </ul>
            </div>


            <div class="combox-shadow margin-top-20  padding-20">
                <div class="com-title">
                    <span>最新文章</span>
                </div>
                <ul class="margin-top-20">
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1392.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0929478130.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1392.cshtml" class="display-block tit">万变不离其宗的SEO排名，细节、思路、方法</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-26</span>
                                    <span><i class="iconfont icon-view"></i> 310</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1391.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0937232340.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1391.cshtml"
                                    class="display-block tit">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-26</span>
                                    <span><i class="iconfont icon-view"></i> 159</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1390.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0930002620.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1390.cshtml"
                                    class="display-block tit">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-26</span>
                                    <span><i class="iconfont icon-view"></i> 108</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1389.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0931402290.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1389.cshtml"
                                    class="display-block tit">SEO培训案例：流量倾斜下的百度SEO优化，掌握移动端排名的核心技术！</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-26</span>
                                    <span><i class="iconfont icon-view"></i> 71</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1388.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0940377670.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1388.cshtml" class="display-block tit">万变不离其宗的SEO排名，细节、思路、方法</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-26</span>
                                    <span><i class="iconfont icon-view"></i> 92</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="padding-10 ">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <a href="/news/1387.cshtml" class="display-block pic-box  overflow-hidden">
                                    <img class="pic" src="/upload/Images/2020/01/04/0935099350.jpg" />
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <a href="/news/1387.cshtml" class="display-block tit">腾讯获赔4524万元</a>
                                <div class="text-gray padding-top-10 clearfix">
                                    <span class="margin-right-10"><i class="iconfont icon-time"></i> 2019-08-24</span>
                                    <span><i class="iconfont icon-view"></i> 94</span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="combox-shadow margin-top-20  padding-20">
                <div class="com-title">
                    <span>标签列表</span>
                </div>
                <div class="tag padding-top-10">
                    <a href="/news/1394.cshtml" class="margin-right-10">大家讲秒排，</a>
                    <a href="/news/1393.cshtml" class="margin-right-10">SEO培训案</a>
                    <a href="/news/1392.cshtml" class="margin-right-10">万变不离其宗</a>
                    <a href="/news/1391.cshtml" class="margin-right-10">SEO培训案</a>
                    <a href="/news/1390.cshtml" class="margin-right-10">SEO培训案</a>
                    <a href="/news/1389.cshtml" class="margin-right-10">SEO培训案</a>
                    <a href="/news/1388.cshtml" class="margin-right-10">万变不离其宗</a>
                    <a href="/news/1387.cshtml" class="margin-right-10">腾讯获赔45</a>
                    <a href="/news/1386.cshtml" class="margin-right-10">《全民枪战》</a>
                    <a href="/news/1385.cshtml" class="margin-right-10">SEO行业大</a>
                    <a href="/news/1384.cshtml" class="margin-right-10">因为从流量的</a>
                    <a href="/news/1383.cshtml" class="margin-right-10">企业老板看不</a>
                    <a href="/news/1382.cshtml" class="margin-right-10">做SEO也做</a>
                    <a href="/news/1381.cshtml" class="margin-right-10">我这个模板的</a>
                    <a href="/news/1380.cshtml" class="margin-right-10">我这个模板的</a>

                </div>
            </div>


        </div>

    </div>


</div>
<% include ../public/footer %>
</body>
</html>