<footer class="padding-top-20 padding-bottom-40">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-7 col-sm-12 margin-top-20">
                <div class="font-size-18">
                    关于本站
                </div>
                <div class="margin-top-10">
                    <p>SEO培训是隔壁王哥10年经验的抖音教程分享，免费SEO和自媒体培训短视频教程分享，通过自媒体短视频引流操作打造全新的网络营销平台。</p>
                    <p>Copyright © 2000-2019 SEO培训个人博客 版权所有 备案号：粤ICP备1234567</p>
                    <p><a href="http://www.pageadmin.net" target="_blank">技术支持：PageAdminCms</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 margin-top-20">
                <div class="font-size-18">
                    联系我们
                </div>
                <ul class="margin-top-10">
                    <li>
                        咨询可联系如下方式：
                    </li>
                    <li>
                        <span class="fa fa-qq"></span> QQ：123456789
                    </li>
                    <li>
                        <span class="fa fa-wechat"></span> Wechat：123456789
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 margin-top-20">
                <div class="font-size-18">
                    关注我们
                </div>
                <div class="margin-top-10">
                    <img src="/upload/Images/2020/01/02/0959341720.jpg" />
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- 移动端底部固定导航 -->
<div class="footer-fixed">
    <ul>
        <li class="col-sm-4 col-xs-4">
            <a href="http://t1114.mbdemo.18inter.com/">
                <i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="col-sm-4 col-xs-4">
            <a href="tel:400-992-9891">
                <i class="fa fa-phone-square"></i>
                <span>资讯电话</span>
            </a>
        </li>
        <li class="col-sm-4 col-xs-4">
            <a href="" id="goToTop">
                <i class="fa fa-caret-square-o-up"></i>
                <span>置顶</span>
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $goToTop = $('#goToTop');
    $goToTop.click(function () {
        $('html ,body').animate({ scrollTop: 0 }, 300);
        return false;
    });
</script>