<footer>
    <div class="container addfoot">
        <div class="row">
            <div class="col-md-9 col-sm-5 margin-bottom-10 address">
                <div class="foodNav">
                    <ul>
                        <li data-id="22"><a href="/">网站首页</a></li>
                        <li data-id="45"><a href="/xxjjs/">协会介绍</a></li>
                        <li data-id="3302"><a href="/xktt/">新闻中心</a></li>
                        <li data-id="46"><a href="/zxzc/">协会动态</a></li>
                        <li data-id="222"><a href="/xszz/">政策解读</a></li>
                        <li data-id="248"><a href="/xzzx/">下载中心</a></li>
                        <li data-id="2297"><a href="/spzx/">视频中心</a></li>
                        <li data-id="228"><a href="/ryzz/">荣誉资质</a></li>
                        <li data-id="2298"><a href="/lxwms/">联系我们</a></li>
                    </ul>
                </div>
                <p class="padding-bottom-10">
                    <span><img src="/Templates/T20047/images/bot1.png" /> 电话：400-000-0000 200-000-0000</span>
                    <span><img src="/Templates/T20047/images/bot2.png" /> 邮箱：xxxxxxx@xxx.edu.cn</span>
                    <span><i class="fa fa-globe" aria-hidden="true"></i> 网址：xxxxx.www.com</span>

                </p>
                <p>
                    <span><img src="/Templates/T20047/images/bot3.png" /> 通讯地址：某某市大环路外环某某路XXX号</span>
                    <span><img src="/Templates/T20047/images/bot3.png" /> 总部地址：某某市大环路外环某某路XXX号</span>

                </p>
            </div>
            <div class="col-md-3 col-sm-5 margin-bottom-10">
                <ul class="foot-list">
                    <li><a href="#" target="_blank"><img src="/Templates/T20047/images/blue.png" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Templates/T20047/images/foot1.png" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Templates/T20047/images/foot2.png" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Templates/T20047/images/foot3.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center padding-top-10">
            版权所有 &copy 2023 某某新能源行业协会 ALL RIGHTS RESERVED. <a href="http://beian.miit.gov.cn "
                target="_blank">XICP备10000XXX号</a> Power By：PageAdmin Cms
        </div>
        <div class="copyright text-center line-height-2 padding-bottom-20"><a href="http://www.pageadmin.net"
                target="_blank">Powered By PageAdmin Cms</a></div>
    </div>
</footer>

<div>
    <!--PC置顶-->
    <a class="goToTop goToTop2" id="ToTop" href="#" title="返回顶部"></a>
</div>



<!--手机端固定-->
<div class="bg-bottgray position-fixed bott-fixed phoblack">
    <ul class="text-center backsame">
        <li class="col-xs-4">
            <a href="http://t20047.mbdemo.18inter.com/">
                <i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="col-xs-4">
            <a href="/xktt/">
                <i class="fa fa-users"></i>
                <span class="text-white font-size-12">协会新闻</span>
            </a>
        </li>
        <li class="col-xs-4">
            <div class="curpointer goToTop">
                <a href="#">
                    <i class="fa fa-caret-square-o-up"></i>
                    <span>置顶</span>
                </a>
            </div>
        </li>
    </ul>
</div>