<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加资源</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div>
        <el-upload v-model:file-list="fileList" class="upload-demo"
            action="/api/upload/single" multiple :on-preview="handlePreview"
            :on-remove="handleRemove" :before-remove="beforeRemove" :limit="3" :on-exceed="handleExceed">
            <el-button type="primary">Click to upload</el-button>
            <template #tip>
                <div class="el-upload__tip">
                    jpg/png files with a size less than 500KB.
                </div>
            </template>
        </el-upload>
    </div>
</div>

<script>
    const { createApp, ref, reactive } = Vue
    const app = createApp({
        setup() {
            const fileList = ref([])
            const handleRemove = () => {
                console.log('handleRemove')
            }

            const handlePreview = (uploadFile) => {
                console.log(uploadFile)
            }

            const handleExceed = (files, uploadFiles) => {
                ElMessage.warning(
                    `The limit is 3, you selected ${files.length} files this time, add up to ${files.length + uploadFiles.length
                    } totally`
                )
            }
            const beforeRemove = () => {
                console.log('beforeRemove')
            }
            return {
                handleRemove,
                handlePreview,
                handleExceed,
                beforeRemove
            }
        }
    })

    app.use(ElementPlus);
    app.mount('#app')    
</script>
</body>

</html>