<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加资源</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div>
        <el-button type="primary" @click="getList">读取资源</el-button>
        <el-button type="primary" @click="handleUpload">上传资源</el-button>
        <div>
            Tips:上传成功后，请手动移动文件到/public/uploads-resource文件夹下
        </div>
        <el-main>
            <el-table
            :data="listData"
            style="width: 100%">
            <el-table-column
              type="index"
              label="文件名"
              width="180">
            </el-table-column>
            <el-table-column
              prop="name"
              label="文件名"
              width="180">
            </el-table-column>
            <el-table-column
              prop="suffix"
              label="文件路径"
              width="180">
            </el-table-column>
            <el-table-column
              prop="file_path"
              label="文件路径">
            </el-table-column>

            <el-table-column
              label="操作">

            </el-table-column>
          </el-table>
      
        </el-main>
    </div>
</div>

<script>
    const { createApp, ref, reactive } = Vue
    const app = createApp({
        setup() {
            const listData = ref([])

            const getList = () => {
                axios({
                    url: '/api/resource/upload-before/get',
                    method: 'post'
                }).then(res =>  {
                    listData.value = res.data.list || []
                })
            }

            getList()

            const handleUpload = () => {
                axios({
                    url: '/api/upload/resource/batch',
                    method: 'post',
                    data: {
                        fileList:  listData.value
                    }
                }).then(res =>  {
                    if  (res.code === '200') {
                        ElementPlus.ElMessage.succes('上传成功')
                    }
                })
            }
            return {
                listData,
                handleUpload,
                getList
            }
        }
    })

    app.use(ElementPlus);
    app.mount('#app')    
</script>
</body>

</html>