<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加资源</title>
    <% include ../public/head %>
</head>

<body>
<div id="app">
    <div>
        <el-button type="primary" @click="getList">读取资源</el-button>
        <el-button type="primary" @click="handleUpload">上传资源</el-button>
        <el-main>
            <el-table :data="listData" style="width: 100%">
            <el-table-column
              type="index"
              label="序号"
            >
            </el-table-column>

            <el-table-column prop="name" label="名称" width="180">
            </el-table-column>

            <el-table-column
              prop="filename"
              label="文件名"
              width="180">
            </el-table-column>

            <el-table-column
              prop="suffix"
              label="文件路径"
              width="180">
            </el-table-column>

            <el-table-column
              prop="file_path"
              label="文件路径">
            </el-table-column>

            <el-table-column
              label="操作">

            </el-table-column>
          </el-table>
      
        </el-main>
    </div>
</div>

<script>
    const { createApp, ref, reactive } = Vue
    const app = createApp({
        setup() {
            const listData = ref([])

            const getList = () => {
                axios({
                    url: '/api/upload/temporary/get',
                    method: 'post'
                }).then(res =>  {
                    listData.value = res.data.list || []
                })
            }

            getList()

            const handleUpload = () => {
                if (listData.value.length === 0) {
                    return ElementPlus.ElMessage.error('请选择文件后再点击上传')
                }
                axios({
                    url: '/api/upload/batch',
                    method: 'post',
                    data: {
                        fileList:  listData.value
                    }
                }).then(res =>  {
                    if (res.code !== 200) {
                        return ElementPlus.ElMessage.error(res.message)
                    }
                    ElementPlus.ElMessage.success('上传成功')
                })
            }
            return {
                listData,
                handleUpload,
                getList
            }
        }
    })

    app.use(ElementPlus);
    app.mount('#app')    
</script>
</body>

</html>