<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>资源详情</title>
    <% include ../public/head %>
</head>

<body>
    <div id="app">
        <div>
        </div>
    </div>

    <script>
        const { createApp, ref, reactive } = Vue
        const app = createApp({
            setup() {

                return {

                }
            }
        })

        app.use(ElementPlus);
        app.mount('#app')    
    </script>
</body>

</html>